<div class="carousel">
    <div class="carousel__main">
        <div class="carousel__spot">\{{properties.reviews.spot}}</div>
        <a href="#" id="address-link" class="carousel__address">\{{properties.address}}</a>
        <div class="carousel__text">\{{properties.reviews.text}}</div>
    </div>
    <div class="carousel__footer">
        <div class="carousel__date">\{{properties.reviews.date}}</div>
    </div>
</div>